.card__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 32px;
    grid-column-gap: 36px;
    padding-bottom: 50px;
    margin: 20px 55px;
}

@media (max-width: 900px) {
    .card__list {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 767.5px) {
    .card__list {
        margin: 0
    }
}